.giamgia-bubble {
  position: fixed;
  top: 120px;
  right: 8px;
  height: 40px;
  padding: 0 20px;
  border-radius: 40px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
}

.giamgia-bubble__content {
  color: whitesmoke;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .giamgia-bubble {
    top: 6px;
    height: 30px;
    right: unset;
    left: 45px;
  }
}